<div class="greyn">
<p> <%= @question  %> </p>
<P><em> -You </em></p>
</div>
<div class="coach greyn">
<p><strong> <%= @answer %> </strong></p>
<p><em> -Your coach </em></p>
</div>

<%= link_to "Ask a new question", ask_path %>