<p> Ask your coach anything: </p>
<form action="/answer" method="get">
  <input type="text" id="barrita"
  name="query"
  value= "<% params[:query] %>" >

  <input type="submit" value="Ask!" id="boton">
</form>