// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.coach {
  background-color: #ffffe1;
}
.greyn {
  border-left: solid 1rem grey;
}
#boton {
  background-color: #337ab7;
  height: 1.6rem;
  color: white;
  margin-left: 0;
  border-left: 0;
}
body {
  font-size: 1rem;
}
#barrita {
  width: 30%;
  height: 1.3rem;
  margin-right: 0;
  border-right: 0;
}
